<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-avatar class="logo">
        <ion-img src="https://images.pexels.com/photos/3689532/pexels-photo-3689532.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Logo" ></ion-img>
      </ion-avatar>
    </ion-buttons>
    
    <ion-searchbar placeholder="Search"></ion-searchbar>

    <ion-buttons slot="end">
      <!-- <div>
        <ion-avatar class="avatar">
          <ion-img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Avatar"></ion-img>
        </ion-avatar>
        <ion-button>
          <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
        </ion-button>
      
        <ion-button >
          Logout
        </ion-button>
      </div> -->

      <div>
        <ion-button>Login</ion-button>
        <ion-button>SignUp</ion-button>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
