<ion-content>
  <app-header></app-header>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size-xs="12" size-sm="8" size-md="6" size-lg="4">
        <ion-card>
          <ion-card-content>
            <!-- <app-login></app-login> -->
            <app-signup></app-signup>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
