
  <form #loginForm="ngForm" class="ion-padding">
    <ion-item lines="full" class="mb-3">
      <ion-input type="email" name="email" #email="ngModel" [(ngModel)]="loginFormModel.email"
        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"  label="Email address" required ></ion-input>
    </ion-item>
    
    <ion-item *ngIf="email.invalid && (email.dirty || isSubmitted)">
      <ion-text color="danger">
        <p *ngIf="email.errors?.['required']" class="ion-margin-start">Email is required</p>
        <p *ngIf="email.errors?.['pattern']" class="ion-margin-start">Invalid email format</p>
      </ion-text>
    </ion-item>

    <ion-item lines="full" class="mb-3">
      <ion-input type="password" name="password" #password="ngModel" [(ngModel)]="loginFormModel.password" minlength="5" label="Password" required></ion-input>
    </ion-item>
    <ion-item *ngIf="password.invalid && (password.dirty || isSubmitted)">
      <ion-text color="danger">
        <p *ngIf="password.errors?.['required']" class="ion-margin-start">Password is required</p>
        <p *ngIf="password.errors?.['minlength']" class="ion-margin-start">Minimum length is 5 characters</p>
      </ion-text>
    </ion-item>

    <ion-button type="submit" expand="block" color="primary" class="mt-3"
      (click)="onLogin(loginForm)">Login</ion-button>
  </form>