<!-- <ion-content> -->
<ion-grid class="ion-padding">
  <ion-row justify-content-center>
    <ion-col size-md="6">
      <h2 class="ion-text-center ion-margin-bottom">Signup Form</h2>
      <form #signupForm="ngForm" (ngSubmit)="onSignup(signupForm)">

        <ion-item class="ion-margin-bottom">
          <ion-label ></ion-label>
          <ion-input labelPlacement="floating" type="text" name="username" #username="ngModel" [(ngModel)]="signupModel.username" a
            label="Username" required></ion-input>
        </ion-item>
        <ion-item class="ion-margin-bottom" *ngIf="username.invalid && (username.dirty || isSignup)">
          <ion-text color="danger">
            <p *ngIf="username.errors?.['required']">Username is required</p>
          </ion-text>
        </ion-item>

        <ion-item class="ion-margin-bottom" lines="none">
          <ion-input labelPlacement="floating" type="email" name="email" #email="ngModel" [(ngModel)]="signupModel.email" label="Email Address"
            required></ion-input>
        </ion-item>
        <ion-item class="ion-margin-bottom" *ngIf="email.invalid && (email.dirty || isSignup)">
          <ion-text color="danger">
            <p *ngIf="email.errors?.['required']">Email is required</p>
          </ion-text>
        </ion-item>

        <ion-item class="ion-margin-bottom">
          <ion-input labelPlacement="floating" type="text" name="address" #address="ngModel" [(ngModel)]="signupModel.address" label="Address"
            required></ion-input>
        </ion-item>
        <ion-item class="ion-margin-bottom" *ngIf="address.invalid && (address.dirty || isSignup)">
          <ion-text color="danger">
            <p *ngIf="address.errors?.['required']">Address is required</p>
          </ion-text>
        </ion-item>

        <ion-item class="ion-margin-bottom">
          <ion-input labelPlacement="floating" type="password" name="password" #password="ngModel" [(ngModel)]="signupModel.password"
            label="Password" required></ion-input>
        </ion-item>
        <ion-item class="ion-margin-bottom" *ngIf="password.invalid && (password.dirty || isSignup)">
          <ion-text color="danger">
            <p *ngIf="password.errors?.['required']">Password is required</p>
          </ion-text>
        </ion-item>

        <ion-item class="ion-margin-bottom">
          <ion-input labelPlacement="floating" type="password" name="confirmPassword" #confirmPassword="ngModel"
            [(ngModel)]="signupModel.confirmPassword" label="Confirm Password" required></ion-input>
        </ion-item>
        <ion-item class="ion-margin-bottom" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || isSignup)">
          <ion-text color="danger">
            <p *ngIf="confirmPassword.errors?.['required']">Does not matched</p>
          </ion-text>
          <ion-text color="success">
            <p *ngIf="signupModel.confirmPassword === signupModel.password">Password matched</p>
          </ion-text>
        </ion-item>
        <ion-button expand="block" type="submit" color="primary">Sign Up</ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
<!-- </ion-content> -->